<section class="contact">
  <h1>Contact Us</h1>
  <p>Have any questions? Feel free to reach out to us!</p>
  <form (submit)="onSubmit()">
    <input type="text" placeholder="Your Name" name="name" required />
    <input type="email" placeholder="Your Email" name="email" required />
    <textarea placeholder="Your Message" name="message" required></textarea>
    <button type="submit">Send Message</button>
  </form>
  <div class="social-links">
    <a href="https://www.facebook.com/" target="_blank" class="social-icon">Facebook</a>
    <a href="https://x.com/?lang=en" target="_blank" class="social-icon">x</a>
    <a href="https://www.instagram.com/sem/campaign/emailsignup/?campaign_id=13530334509&extra_1=s%7Cc%7C547348909639%7Ce%7Cinstagram%20%27%7C&placement=&creative=547348909639&keyword=instagram%20%27&partner_id=googlesem&extra_2=campaignid%3D13530334509%26adgroupid%3D126262421974%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1321618851291%26loc_physical_ms%3D9028249%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gad_source=1&gclid=CjwKCAiAw5W-BhAhEiwApv4goO2jJcEstOB1AJf2dSRpKKolk5ljakv60FJq6XNcnLo-PJgWdEYMWxoC3C8QAvD_BwE" class="social-icon" target="_blank">Instagram</a>
    <a href="https://www.linkedin.com/jobs?src=go-pa&trk=sem-ga_campid.18853522261_asid.146084015209_crid.633923221414_kw.linkedin_d.c_tid.kwd-296170574619_n.g_mt.e_geo.9028249&mcid=6994434350142418944&cid=&gad_source=1&gclid=CjwKCAiAw5W-BhAhEiwApv4goNAEQOo-Y_rdwUMIfBfQ6kixPqhtp-qz0l-wGZ1YMcHKrNQapTCi_xoC7VkQAvD_BwE&gclsrc=aw.ds" class="social-icon" target="_blank">LinkedIn</a>
  </div>
</section>

<!-- 
  [(ngModel)]="contact.name"
[(ngModel)]="contact.email"
[(ngModel)]="contact.message" -->
