<div class="body">
<h1>What is First Lego League?</h1>
<p>The First Lego League (FLL) is a global competition where children use LEGO robotics to solve real-world challenges. It consists of three main components:</p>
<p><strong><b>The Robot Game: </b></strong>Teams design and program a robot to complete various missions.</p>
<p><strong><b>The project </b></strong>Teams research a real-world problem and develop an innovative solution</p>
<p><strong><b>The Core Values: </b></strong>Teams demonstrate teamwork, respect, and professionalism.</p>
<p><strong><b>Why participate: </b></strong>FLL encourages innovation, teamwork, and learning. It’s a platform for students to apply creativity and critical thinking to solve problems while developing important life skills.

</p>
</div>
