.main{
    background-color: rgb(67, 67, 67);
    /* position: fixed; */
    /* bottom: 0; */
    width: 100vw;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.footer {
    background: #1a1a2e;
    color: white;
    width: 100%;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
  }