nav{
    background-color: #3498db;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}

nav li{
    color: white;
    list-style: none;
    padding: 10px;
}
nav a{
    color: white;
    list-style: none;
    font-size: xx-large;
    font-weight: bolder;
    
}
nav ul{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-left: 100px;
    width: 70%;
    justify-content: space-between;
}
