<nav>
    <img src="images/fll-logo.png" />
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
    <li>
      <a routerLink="/media-gallery" routerLinkActive="active">media gallery</a>
    </li>
    <li>
      <a routerLink="/team-members" routerLinkActive="active">team members</a>
    </li>
    <li>
      <a routerLink="/core-values" routerLinkActive="active">core values</a>
    </li>

    
  </ul>
</nav>
