<!-- <nav>
<img src="images/logo.png" />
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About FLL</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
    <li>
      <a routerLink="/media-gallery" routerLinkActive="active">Gallery</a>
    </li>
    <li>
      <a routerLink="/mebers" routerLinkActive="active">Members</a>
    </li>
    <li>
      <a routerLink="/core-values" routerLinkActive="active">Core Values</a>
    </li>
  </ul>
</nav> -->

<nav>
  <img src="images/logo.png" alt="FLL Logo" />
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li><a routerLink="/about" routerLinkActive="active">About FLL</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li>
      <a routerLink="/media-gallary" routerLinkActive="active">Gallery</a>
    </li>
    <li><a routerLink="/members" routerLinkActive="active">Members</a></li>
    <li>
      <a routerLink="/core-calues" routerLinkActive="active">Core Values</a>
    </li>
  </ul>
</nav>
