<div class="body">
<h1>Our FLL Journey in Photos & Videos</h1>
<h3>Photos</h3>
<div class="img">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6AxtGhd8OAxW_a9fBvlca0IL7M0OYb0xYEg&s"   width="300px" height="200px">
<img src="https://va-dcfll.org/app/uploads/2020/06/IMG_2638-scaled-e1594650386158-974x1024.jpg" width="250px" height="200px">
<img src="https://www.montana.edu/first/images/1060x480_FLL_tournament.png" width="300px" height="200px">
</div>

    <div class="videos">
        <h3>Videos</h3>
        <div class="v1">
        <iframe width="300" height="200" src="https://www.youtube.com/watch?v=J5u-2q_K3O0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="300" height="200" src="https://www.youtube.com/watch?v=j9NREEvyatQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      </div>
      
  </div>
  