img{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    
}
.body{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: linear-gradient(to right, #d62828, #003f87);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
height: 100vh;
position: relative;
bottom: 200px;
background-size: cover;

}
.img{
    display: flex;
    flex-direction: row;
}
h3{
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}
h1{
    font-size: 900;
    font-weight: 10000;
    color: white;
}

  .videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #d62828, #003f87);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }

  .videos iframe {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

 


  

  