<section class="gallery">
  <h1>Our FLL Journey in Photos & Videos</h1>

  <h3>Photos</h3>
  <div class="img-gallery">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6AxtGhd8OAxW_a9fBvlca0IL7M0OYb0xYEg&s"
      alt="FLL Photo"
    />
    <img
      src="https://va-dcfll.org/app/uploads/2020/06/IMG_2638-scaled-e1594650386158-974x1024.jpg"
      alt="FLL Event"
    />
    <img
      src="https://www.montana.edu/first/images/1060x480_FLL_tournament.png"
      alt="FLL Tournament"
    />
  </div>

  <h3>Videos</h3>
  <div class="video-gallery">
    <iframe
      width="300"
      height="200"
      src="https://www.youtube.com/embed/J5u-2q_K3O0"
      allowfullscreen
    ></iframe>
    <iframe
      width="300"
      height="200"
      src="https://www.youtube.com/embed/j9NREEvyatQ"
      allowfullscreen
    ></iframe>
  </div>
</section>
