.gallery {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(to right, #D62828, #003F87);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1.5s ease-in-out;
  height: 100vh;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
h1, h3 {
  margin-bottom: 1rem;
}
.img-gallery {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.img-gallery img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.img-gallery img:hover {
  transform: scale(1.1);
}
.video-gallery {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
video {
    width: 250px;
    height: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}