<section class="gallery">
  <h1>Our FLL Journey in Photos & Videos</h1>

  <h3>Photos</h3>
  <div class="img-gallery">
    <img
      src="images/1.jpg"
      alt="FLL Photo"
    />
    <img
      src="images/2.jpg"
      alt="FLL Event"
    />
    <img
      src="images/3.jpg"
      alt="FLL Tournament"
    />
    <img
      src="images/4.jpg"
      alt="FLL Photo"
    />
    <img
      src="images/5.jpg"
      alt="FLL Photo"
    />
    <img
      src="images/6.jpg"
      alt="FLL Event"
    />
    <img
      src="images/7.jpg"
      alt="FLL Tournament"
    />
    <img
      src="images/8.jpg"
      alt="FLL Photo"
    />
    <img
      src="images/9.jpg"
      alt="FLL Photo"
    />
    <img
      src="images/16.jpg"
      alt="FLL Photo"
    />
    <img
      src="images/17.jpg"
      alt="FLL Photo"
    />
    <img
      src="images/18.jpg"
      alt="FLL Photo"
    />
  </div>

  <h3>Videos</h3>
  <div class="video-gallery">
    <video width="640" height="360" controls>
        <source src="images/v1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video><video width="640" height="360" controls>
        <source src="images/v2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video><video width="640" height="360" controls>
        <source src="images/v3.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
</section>
