<!-- <div class="main">
    <h1 style="font-size: xx-large; font-weight: bolder;">Welcome to Our First Lego League Journey!</h1>
    <p>The <b>First Lego League</b>(FLL) is an exciting competition that helps kids explore science, technology, engineering, and math (STEM) through hands-on LEGO robotics challenges. Join us as we prepare for the next big competition!</p>
    <button class="button">learn more</button>
</div> -->

<section class="home" [@fadeIn]>
  <div class="hero">
    <h1 [@slideIn]>Welcome to FIRST LEGO League Challenge</h1>
    <p [@fadeInText]>
      First Lego League(FLL) is an exciting competition that helps kids explore
      science, technology, engineering, and math (STEM) through hands-on LEGO
      robotics challenges. Join us as we prepare for the next big competition!
    </p>
    <button class="button">
      <a href="https://www.firstlegoleague.org/" target="_blank">Explore</a>
    </button>
  </div>
</section>
