.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.member-box{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.116);
    box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.36);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    gap:10px
    /* height:400px; */

}

.members{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusts based on screen size */
    /* gap: 1px; */
    justify-content: center; /* Centers the grid */
    width: 100%; /* Prevents stretching */
    max-width: 1200px; /* Prevents too wide grid */
}

.sub-head{
    color: #555555;
}
.main-head{
    color: #2c3e50;
}



