/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, sans-serif;
}


:root {
    --font-size-heading: 16px;  /* Default font size */
    --font-size-normal: 16px;  /* Default font size */
    --font-family: 'Arial, sans-serif';
  }
  

body,html{
    padding: 0px;
    margin: 0px;
    background-color: #f9f9f9;
    height: 100%;
}